@import '../../theme/colors.styl'

.main__layout
  display flex
.main__content
  min-height 710px
  height 100%
  background-color $content-back
  position: relative
.main__right-block
  display: flex
  flex-direction: column
  width 100%