$white = #fff;
$black = #000;
$pre-white = #ddd;
$pre-black = #222;
$blue = #2196f3;
$green = #0f9d58;
$gray = #999999;
$red = #d23f31;
$input-color = rgba(255,255,255,0.2);
$content-back = #fafafa;
$list-hover = #eeeeee;
$list-line = #666666;
$counter-back = #fefb1e;
$counter-border = rgba(112, 112, 112, 0.25);
$counter-text = #333333;
$modal-back = #d23f31;
$modal-shadow = rgba(0, 0, 0, 0.16);
$modal-border = #707070;
$modal-main = #444444;
$modal-placeholder = #454545;
$button-shadow = rgba(0, 0, 0, 0.24);
$button-border = #009688;
$modal-rgba = rgba(0, 0, 0, 0.5);
$list-border = #cccccc;
$sidebar-shadow =  rgba(0, 0, 0, 0.12);