@import '../../theme/colors.styl'

.header
  max-width 100%
  height 70px
  box-shadow 0 3px 6px 0 rgba(0, 0, 0, 0.5)
  position relative
  z-index 1
  display flex
  background-color $blue
  justify-content space-between
  align-items center
  padding 0 42px
.header__inbox
  background-color $blue
.header__sent
  background-color $green
.header__trash
  background-color $gray
.header__spam
  background-color $red


